<%- include("_sidebar")%>

<!--================Tables Banner Area =================-->
<section class="tables_banner_area">
    <div class="main_title">
        <button class="navbar-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-a"></span>
            <span class="icon-bar icon-bar-b"></span>
        </button>
        <span class="main_text">
            <h2>Blogs</h2>

        </span>
    </div>
    <div class="main_content">
        <div class="add_btn">
            <i class="lnr lnr-checkmark-circle"></i> Add blog
        </div>
        <div class="main_table">
            <div class="table_row row_header">
                <div class="table_column">Image</div>
                <div class="table_column">Title</div>
                <div class="table_column">Body</div>
                <div class="table_column">Comments</div>
                <div class="table_column">Likes</div>
                <div class="table_column">Date</div>
                <div class="table_column">Modify</div>
            </div>
            <% blogs.map( blog =>{
                let date= `${blog.date}`.split(" ");
                
                %>
            <div class="table_row row_dark">
                <div class="table_column"><img src="/img/blog/<%= blog.image%>" alt=""></div>
                <div class="table_column" onclick="readMoreModal('Title',`<%= blog.title%>`)">
                    <%= blog.title.slice(0,15)%>... </div>
                <div class="table_column" onclick="readMoreModal('Content',`<%= blog.body %>`)">
                    <%= blog.body.slice(0,20)%>...</div>
                <div class="table_column"><a href="/admin/blogs/comments/<%= blog._id%>"
                        class="mod_btn nav_btn"><%= blog.comments.length%></a></div>
                <div class="table_column"><%= blog.likedBy.length %></div>
                <div class="table_column"><%= date[0] %> <%= date[1] %> <%= date[2] %> <%= date[3] %></div>
                <div class="table_column">
                    <button class="mod_btn update_btn" onclick="updateModal('<%= blog._id%>')"><span
                            class="lnr lnr-upload"></span> Update</button>
                    <button class="mod_btn delete_btn" onclick="deleteBlog('<%= blog._id%>')"><span
                            class="lnr lnr-trash"></span> Delete</button>
                </div>
            </div>
            <% });%>
        </div>
    </div>
    <div class="main_footer">

    </div>

</section>
<!--================Tables Banner Area =================-->
</div>
</div>
<!--================Main Area =================-->
<!--================Modal Banner Area =================-->
<div class="model_block">

</div>
<section class="modal_banner_area modal_banner_add">
    <h2>Add Blog</h2>
    <form class="contact_form" id="contact_form_add">
        <div class="contact_form_text">
            <div class="form-group">
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="date" name="date" placeholder="date">
            </div>
        </div>

        <div class="contact_form_message">
            <div class="form-group">
                <textarea class="form-control" name="body" id="body" rows="1" placeholder="Body"></textarea>
            </div>
            <button type="submit" value="submit" class="btn submit_btn">Add</button>
        </div>

    </form>
</section>
<!--================Modal Banner Area =================-->
<!--================Modal Banner Area =================-->
<% blogs.map( blog =>{
    let yyyy= new Date(blog.date).getFullYear();
    let mm= new Date(blog.date).getMonth();
    let dd= new Date(blog.date).getDate();
    let date= `${blog.date}`.split(" ");
    %>
<section class="modal_banner_area modal_banner_update_<%= blog._id%>">
    <h2>Update Blog</h2>
    <form class="contact_form" id="form_<%= blog._id%>">
        <div class="contact_form_text">
            <div class="form-group">
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" value="<%= blog.title%>">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="date" name="date"
                    value="<%= yyyy%>-<%= mm >= 10 ? mm : '0'+mm%>-<%= dd >= 10 ? dd : '0'+dd%>">
            </div>
        </div>

        <div class="contact_form_message">
            <div class="form-group">
                <textarea class="form-control" name="body" id="body" rows="1"><%= blog.body%></textarea>
            </div>
            <button type="submit" value="submit" class="btn submit_btn">Update</button>
        </div>

    </form>
</section>
<% });%>
<!--================Modal Banner Area =================-->

<!--  JavaScript -->
<script src="/js/blogs.js"></script>
<script src="/js/main-dash.js"></script>
<!--  JavaScript -->
</body>

</html>