<%- include("_sidebar")%>
<!--================Tables Banner Area =================-->
<section class="tables_banner_area">
    <div class="main_title">
        <button class="navbar-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-a"></span>
            <span class="icon-bar icon-bar-b"></span>
        </button>
        <span class="main_text">
            <h2>Messages</h2>

        </span>
    </div>
    <div class="main_content">
        <div class="main_table">
            <div class="table_row row_header">
                <div class="table_column">Name</div>
                <div class="table_column">Email</div>
                <div class="table_column">Message</div>
                <div class="table_column">Subject</div>
                <div class="table_column">Date</div>
                <div class="table_column">Modify</div>
            </div>
            <% messages.map( message =>{
                let date= `${message.date}`.split(" ");
                %>
            <div class="table_row row_dark">
                <div class="table_column"><%= message.name%> </div>
                <div class="table_column"><%= message.email%> </div>
                <div class="table_column" onclick="readMoreModal('Massage',`<%= message.message%>`)">
                    <%= message.message.slice(0,15)%>... </div>
                <div class="table_column" onclick="readMoreModal(`Subject`,`<%= message.subject %>`)">
                    <%= message.subject.slice(0,15)%>... </div>
                <div class="table_column"><%= date[0] %> <%= date[1] %> <%= date[2] %> <%= date[3] %></div>
                <div class="table_column">
                    <button class="mod_btn update_btn"><i class="lnr lnr-checkmark-circle"></i> Reply</button>
                    <button class="mod_btn delete_btn" onclick="deleteMessage(`<%= message._id%>`)"><span
                            class="lnr lnr-trash"></span> Delete</button>
                </div>
            </div>
            <% });%>

        </div>
    </div>
    <div class="main_footer">

    </div>

</section>
<!--================Tables Banner Area =================-->
</div>
</div>
<!--================Main Area =================-->


<!--  JavaScript -->
<script src="/js/adminMessages.js"></script>
<script src="/js/main-dash.js"></script>
<!--  JavaScript -->
</body>

</html>