<%- include("_sidebar")%>
<!--================Tables Banner Area =================-->
<section class="tables_banner_area">
    <div class="main_title">
        <button class="navbar-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-a"></span>
            <span class="icon-bar icon-bar-b"></span>
        </button>
        <span class="main_text">
            <h2>Admin profile</h2>

        </span>
    </div>
    <div class="tables_flex">
        <div class="main_content ">
            <form class="contact_form" action="#" id="normal-data" method="post">
                <div class="contact_form_text">
                    <div class="form-group">
                        <label for="">Profile</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" value="<%= locals.user.name%>"
                            placeholder="Full  name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" value="<%= locals.user.email%>"
                            placeholder="email">
                    </div>
                </div>

                <button type="submit" value="submit" class="btn submit_btn">Update</button>

            </form>
            <form class="contact_form" action="#" id="password-data" method="post">

                <div class="contact_form_text">

                    <div class="form-group">
                        <label for="chagep">New Password</label>
                        <input type="password" class="form-control" id="npassword" name="password"
                            placeholder="New password">
                    </div>
                    <div class="form-group">
                        <label for="chagepn">Confirm New Password</label>
                        <input type="password" class="form-control" id="cnpassword" name="password_confirm"
                            placeholder="Confirm New password">
                    </div>
                    <div class="form-group">
                        <label style="color: red;">Verification Password</label>
                        <input type="password" class="form-control" id="oldpassword" name="password_current"
                            placeholder="Verification Password">
                    </div>
                </div>

                <button type="submit" value="submit" class="btn submit_btn">Change password</button>

            </form>

        </div>
        <div class="main_content profile_widget">
            <aside class="single_sidebar_widget ">
                <img class="author_img rounded-circle"
                    src="<%= locals.user.image.includes('http') ? locals.user.image : `/img/users/${locals.user.image}` %>"
                    alt="">
                <h4>
                    <%= locals.user.name%>
                </h4>
                <p>Administrator</p>
                <div class="social_icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
                <p> I am a website developer specialized with building server side
                    applications using nodeJs.</p>
                <div class="br"></div>
            </aside>

        </div>
    </div>
</section>
</div>
<div class="main_footer">

</div>

</section>
<!--================Tables Banner Area =================-->
</div>
</div>
<!--================Main Area =================-->

<!--  JavaScript -->
<script src="/js/main-dash.js"></script>
<script src="/js/profile.js"></script>

<!--  JavaScript -->
</body>

</html>