<%- include("_sidebar")%>
<!--================Tables Banner Area =================-->
<section class="tables_banner_area">
    <div class="main_title">
        <button class="navbar-toggler">
            <span class="icon-bar"></span>
            <span class="icon-bar icon-bar-a"></span>
            <span class="icon-bar icon-bar-b"></span>
        </button>
        <span class="main_text">
            <h2>Projects</h2>

        </span>
    </div>
    <div class="main_content">
        <div class="add_btn">
            <i class="lnr lnr-checkmark-circle"></i> Add Project
        </div>
        <div class="main_table">
            <div class="table_row row_header">
                <div class="table_column">Image</div>
                <div class="table_column">Name</div>
                <div class="table_column">Link</div>
                <div class="table_column">Modify</div>
            </div>
            <% projects.map( project =>{
                
                %>
            <div class="table_row row_dark">
                <div class="table_column"><img src="/img/project/<%= project.image%>" alt=""></div>
                <div class="table_column" onclick="readMoreModal('Project name','<%= project.title%>')">
                    <%= project.title.slice(0,15)%>... </div>
                <div class="table_column" onclick="readMoreModal('Full link','<%= project.link%>')">
                    <%= project.link.slice(0,20)%>...</div>
                <div class="table_column">
                    <button class="mod_btn update_btn" onclick="updateModal('<%= project._id%>')"><span
                            class="lnr lnr-upload"></span> Update</button>
                    <button class="mod_btn delete_btn" onclick="deleteProject('<%= project._id%>')"><span
                            class="lnr lnr-trash"></span> Delete</button>
                </div>
            </div>
            <% });%>
        </div>
    </div>
    <div class="main_footer">

    </div>

</section>
<!--================Tables Banner Area =================-->
</div>
</div>
<!--================Main Area =================-->
<!--================Modal Banner Area =================-->
<div class="model_block">

</div>
<section class="modal_banner_area modal_banner_add">
    <h2>Add Project</h2>
    <form class="contact_form" id="contact_form_add" method="post">
        <div class="contact_form_text">
            <div class="form-group">
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Project name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="link" name="link" placeholder="Project link">
            </div>
            <button type="submit" value="submit" class="btn submit_btn">Add</button>
        </div>

    </form>
</section>
<!--================Modal Banner Area =================-->
<!--================Modal Banner Area =================-->
<% projects.map( project =>{
    %>
<section class="modal_banner_area modal_banner_update_<%= project._id%>">
    <h2>Update Project</h2>
    <form class="contact_form" id="form_<%= project._id%>">
        <div class="contact_form_text">
            <div class="form-group">
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" value="<%= project.title%>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="link" name="link" placeholder="Project link"
                    value="<%= project.link%>">
            </div>
        </div>

        <div class="contact_form_message">
            <button type="submit" value="submit" class="btn submit_btn">Update</button>
        </div>

    </form>
</section>
<% });%>
<!--================Modal Banner Area =================-->


<!--  JavaScript -->
<script src="/js/projects.js"></script>
<script src="/js/main-dash.js"></script>
<!--  JavaScript -->
</body>

</html>